<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vault-Tec</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/styleperfil.css">
</head>

<body>

    <header>
        <div class="header-container">
            <a href="http://localhost:3000"><img src="/images/vault-tec-logo.png" alt="cofre" class="icon"></a>   
        <h1>Vault-Tec</h1>
        </div>
        <div class="header-container">
            <p>Olá {{usuario}}&nbsp;&nbsp;&nbsp;&nbsp;</p>
            <a href="/logout">Deslogar</a>
        </div>
    </header>

    <main>
        
         <div class="conteudo">

            <a href="/criarperfil" class="card">
                <img src="/images/perfil.png" alt="">
                <div class="card-content">
                    <h3>Nova página</h3>
                    <p>Crie uma nova página, edite e exclua</p>
                </div>
            </a>
        </div>
  
    </main>

    <footer>
        <p>VAULT-TEC 2024 - TODOS OS DIREITOS RESERVADOS</p>
    </footer>
    
</body>
</html>

