<!DOCTYPE html>
<html>
<head>
    <title>Perfil de {{nome}}</title>
</head>
<body>
    <h1>{{nome}}</h1>
    <p>Este é o portfólio de {{nome}}.</p>

    <p>Esse perfil pode ser acessado pelo link: localhost:3000/perfil/{{url}}</p>
    <a href="/intranet?login=1">Voltar para página anterior</a>
</body>
</html>


