<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/stylesheets/styleverperfil.css">
    <title>Perfil</title>
</head>
<body>
    <header>
        <a href="http://localhost:3000"><img src="/public/images/vault-tec-logo.png" alt="cofre" class="icon"></a>
    </header>

    <main>
        <div class="perfil-container">
            <div class="perfil-images">
                <img src="/public/images/github_logo.png" alt="Foto" class="perfil-foto">
                <div class="perfilIcons">
                    <a href="{{ linkedin }}"><img src="/public/images/linkedin_logo.png" alt="Linkedin" class="perfilIcon"></a>
                    <a href="{{ github }}"><img src="/public/images/github_logo.png" alt="Github" class="perfilIcon"></a>
                    <a href="mailto:{{ email }}"><img src="/public/images/email_logo.png" alt="e-mail" class="perfilIcon"></a>
                </div>   
            </div>
            <div class="perfil-info">
                <h1 id="perfil-nome">{{nome}} {{sobrenome}}</h1>
                <h2 class="titulo-topicos">Resumo</h2>
                <p class="topico-info">{{resumo}}</p>
                <h2 class="titulo-topicos">Experiência</h2>
                <p class="topico-info">{{experiencia}}</p>
            </div>
        </div>
        <div class="projeto-container">
            <h2 class="projeto-titulo">PROJETOS</h2>
            <div class="projeto-workspace">
                {{{projeto}}}   
            </div>
        </div>

    </main>

    <footer>
        <p>VAULT-TEC 2024 - TODOS OS DIREITOS RESERVADOS</p>
    </footer>
</body>
</html>