<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/stylesheets/styleverperfil.css">
    <title>Perfil</title>
</head>
<body>
    <header>
        <a href="http://localhost:3000"><img src="/images/vault-tec-logo.png" alt="logo-vault-tec" class="icon"></a>
    </header>

    <main>
        <div class="verPerfilContainer">
            <div class="lateralicons">
                <form method="POST" action="/upload/{{url}}" enctype="multipart/form-data">
                    <input type="file" name="image">
                    <input type="submit">
                </form>
                <img src="/images/{{ imagem }}" alt="Foto" class="perfilFoto">
                <div class="perfilIcons">
                    <a href="{{ linkedin }}"><img src="/images/linkedin_logo.png" alt="Linkedin" class="perfilIcon"></a>
                    <a href="{{ github }}"><img src="/images/github_logo.png" alt="Github" class="perfilIcon"></a>
                    <a href="mailto:{{ email }}"><img src="/images/email_logo.png" alt="e-mail" class="perfilIcon"></a>
                </div>
            </div>
            <div class="informacoes">
                <h1 id="perfilNome">{{nome}} {{sobrenome}}</h1>
                <h2 class="tituloTopicos">Resumo</h2>
                <p class="topico">{{resumo}}</p>
                <h2 class="tituloTopicos">Experiência</h2>
                <p class="topico">{{experiencia}}</p>
            </div>
            <div>
                <h2 class="tituloTopicos">Projeto</h2>
                {{{projeto}}}
            </div>
        </div>
    </main>

    <footer>
        <p>VAULT-TEC 2024 - TODOS OS DIREITOS RESERVADOS</p>
    </footer>
</body>
</html>