<!DOCTYPE html>
<html>
<head>
    <title>Portfolio</title>
</head>
<body>
    <h1>{{nome}}</h1>
    <p>Esta é o portfólio de "{{nome}}".</p>
    <a href="/">Voltar para página inicial</a>
</body>
</html>


