<!DOCTYPE html>
<html>
<head>
    <title>Perfil de {{nome}}</title>
</head>
<body>
    <h1>{{nome}}</h1>
    <p>Esta é o portfólio de "{{nome}}".</p>

    <p>Esse perfil pode ser acessado pelo link: localhost:3030/perfil/{{url}}</p>
    <a href="/">Voltar para página inicial</a>
</body>
</html>


