*{
    font-family: sans-serif;
    font-size: 12px;
}

body {
    background-color: #f0f0f0;
    background-size: cover;
    margin: 0;
    overflow-x: hidden;
    border: 1px solid red;
}

header {
    color: #8F8F8F; 
    padding: 20px; 
    display: flex; 
    justify-content: space-between; 
    align-items: center;
    height: 18px;
    font-size: 16px;
    margin-left: 20px;
}

.icon {
    width: 60px;
    margin-right: 10px;
}

.conteudo {
    background: linear-gradient(to bottom, #16067C, #7D257E);
    color: white;
    height: 80vh;
    padding: 60px ;
    border: 1px solid green;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.card {
    background-color: #D9D9D9;
    border-radius: 15px;
    width: 350px;
    height: 150px;
    padding: 5px;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: inherit;
}

.card img {
    width: 120px;
    margin-right: 10px; /* Espaçamento entre a imagem e o texto */
}

.card-content {
    flex-grow: 1; /* Para ocupar todo o espaço disponível */
}

.card h3 {
    color: #8F8F8F;
    font-size: 24px;
    margin-bottom: 5px;
}

.card p {
    font-size: 16px;
    color: #8F8F8F;
}




