@font-face {
    font-family: "AveriaLibre";
    src: url("/fonts/AveriaLibre-Regular.ttf");
}

body {
    background-color: #f0f0f0;
    background-size: cover;
    margin: 0 auto;
    font-family: sans-serif;
    overflow-x: hidden;
}

header {
    color: #ffffff; 
    padding: 20px; 
    display: flex; 
    justify-content: space-between; 
    align-items: center;
    height: 18px;
    font-size: 16px;
    margin-left: 20px;
}

header h1 {
    margin: 0;
    flex-grow: 1;
    font-size: 25px; 
}

.icon {
    width: 60px;
    margin-right: 10px;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    width: 80%;
    height: 100%;
    margin: 0 auto;
}

footer {
    background-color: #363333;
    color: white;
    text-align: center;
    font-size: 12px;
    padding: 1px;
}

footer p {
    font-size: 12px;    
}

.perfil-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 70%;
    border-bottom: 1px solid black;  
}

.perfil-images {
    width: 30%; 
    padding: 1.5em;
}

.perfil-foto {
    width: 100%
}

.perfilIcons {
    display: flex;
    flex-direction: row;
    padding: 0;
    justify-content: space-around;
    margin-top: 1.5rem;
}

.perfilIcons .perfilIcon {
    width: 50px;
}

.perfil-info {
    width: 70%; 
    padding: 1.5em;
}

#perfil-nome {
    color: #4B5BF2;
}

.titulo-topicos {
    font-size: 1.2em;
}

.topico-info {
    font-size: 1.1em;
    text-align: justify;
}

.projeto-container {
    width: 70%;
    display: flex;
    flex-direction: column;   
}

.projeto-titulo {
    text-align: center;
}

.projeto-workspace {
    padding: 1.5em;
}

.projeto-workspace h2 {
    font-size: 2em;
    color: #4B5BF2;
}

.projeto-workspace p {
    font-size: 1.3em;
    color: #000000;
}

.projeto-workspace a {
    font-size: 1.1em;
    color: #4B5BF2;
}

.projeto-workspace li {
    font-size: 1.1em;
    color: #000000;
}