<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/public/stylesheets/styleperfil.css">
    <title>Perfil</title>
</head>
<body>

    <header>

    </header>

    
        <h1>Minha Conta</h1>

        <div class="opcoes">
            <a href="/perfil" class="card">
                <img src="/public/images/perfil.png" alt="">
                <div class="card-content">
                    <h3>Perfil</h3>
                    <p>Gerencie seu perfil, edite e exclua</p>
                </div>
            </a>
            <div class="card">
                <img src="/public/images/Segurança.png" alt="">
                <div class="card-content">
                    <h3>Segurança</h3>
                    <p>Gerencie sua senha e e-mail</p>
                </div>
            </div>
            <div class="card">
                <img src="/public/images/Temas.png" alt="">
                <div class="card-content">
                    <h3>Temas</h3>
                    <p>Selecione um tema para seu perfil</p>
                </div>
            </div>
        </div>
    
    
    <footer>


    </footer>

</body>
</html>