<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/public/stylesheets/styleverperfil.css">
    <title>Perfil</title>
</head>
<body>
    <header>
        <a href="http://localhost:3000"><img src="/public/images/vault-tec-logo.png" alt="cofre" class="icon"></a>
    </header>

    <main>
        <div class="verPerfilContainer">
            <div class="lateralicons">
                <img src="/public/images/github_logo.png" alt="Foto" class="perfilFoto">
                <div class="perfilIcons">
                    <img src="/public/images/github_logo.png" alt="Linkedin" class="perfilIcon">
                    <img src="/public/images/github_logo.png" alt="Github" class="perfilIcon">
                    <img src="/public/images/github_logo.png" alt="e-mail" class="perfilIcon">
                </div>
            </div>
            <div class="informacoes">
                <h1 id="perfilNome">Nome</h1>
                <h2 class="tituloTopicos">Resumo</h2>
                <p class="topico">asdasdasd</p>
                <h2 class="tituloTopicos">Experiência</h2>
                <p class="topico">nasjdkasdj39rusaodfjkasod</p>
                <h2 class="tituloTopicos">Tecnologias</h2>
                <p class="topico">js,pu,ff</p>
            </div>
        </div>
    </main>

    <footer>
        <p>VAULT-TEC 2024 - TODOS OS DIREITOS RESERVADOS</p>
    </footer>
</body>
</html>